/* ************************************************************************ */

:root{
    /* colors */
    --bg_c-primary: #ffffff;
    --bg_c-secondary: #b4cfe7;
    --bg_c-brand-center: #f5f5f5;
    --bg_c-brand-1: #a2d39b;
    --bg_c-brand-1-border: #d0e9cd;
    --bg_c-brand-2: #61082b;
    --bg_c-brand-3: #0093ce;
    --bg_c-brand-4: #ff1c1c;
    --bg_c-brand-5: #d5011f;
    --bg_c-brand-6: #b4cfe7;
    --bg_c-brand-7: #0c2581;
    --bg_c-brand-8: #ffd82f;

    --btn_c-primary: #0061ff;

    --txt_c-primary: black;
    --txt_c-primary-negative: white;
    --txt_c-secondary: #121212;
    --txt_c-tertiary: #666666;
    --txt_c-special: #61062a;

    /* Spacing */
    --spacing-xxsmall: 5px;
    --spacing-xsmall: 10px;
    --spacing-small: 30px;
    --spacing-medium: 60px;
    --spacing-large: 80px;
    --spacing-xlarge: 100px;
}

/* ************************************************************************ */

/* Reset Start */
/* Sizing reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Rem reset */
html{
	font-size: 15px;
}
/* Font reset */
body{
	font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg_c-primary);
}
/* Reset End */

/* ************************************************************************ */

/* Tags Reset Start */
/* Titles */
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

/* Text */
p{
    font-size: 1rem;
}

span{
    font-size: 1rem;
}

li{
    list-style: none;
}
/* Buttons - Links - imgs */
button{
    padding: var(--spacing-xsmall);
    background-color: var(--btn_c-primary);
    text-align: center;
    color: var(--txt_c-primary-negative);
    border: none;
    font-size: 1rem;
}

img{
    display: block;
    width: 100%;
    object-fit: contain;
}

a{
    font-size: 1rem;
    display: inline-block;
}
/* Tags Reset End */

/* ************************************************************************ */

/* Utility Start */
.container{
    max-width: 920px;
    margin: auto;
}

.container.big{
    max-width: 1200px;
}

.row{
    display: flex;
}
/* Utility End */

/* ************************************************************************ */

/* Header */
header{
    background-color: var(--bg_c-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--spacing-medium);
}

header nav{
    height: 100%;
    padding: var(--spacing-xsmall);
    display: flex;
    justify-content: space-between;
}

header a{
    color: var(--txt_c-secondary);
    text-decoration: none;
    padding: var(--spacing-xsmall);
}

header ul,
header .logo-container{
    display: inline-flex;
    align-items: center;
    margin-right: var(--spacing-xsmall);
}

/* ************************************************************************ */