/* ************************************************************************ */

:root{
    /* colors */
    --bg_c-primary: #ffffff;
    --bg_c-secondary: #b4cfe7;
    --bg_c-brand-center: #f5f5f5;
    --bg_c-brand-1: #a2d39b;
    --bg_c-brand-1-border: #d0e9cd;
    --bg_c-brand-2: #61082b;
    --bg_c-brand-3: #0093ce;
    --bg_c-brand-4: #ff1c1c;
    --bg_c-brand-5: #d5011f;
    --bg_c-brand-6: #b4cfe7;
    --bg_c-brand-7: #0c2581;
    --bg_c-brand-8: #ffd82f;

    --btn_c-primary: #0061ff;
    --border_c-primary: #d0d0d3;

    --txt_c-primary: black;
    --txt_c-primary-negative: white;
    --txt_c-secondary: #121212;
    --txt_c-tertiary: #666666;
    --txt_c-special: #61062a;

    /* Spacing */
    --spacing-xxsmall: 5px;
    --spacing-xsmall: 10px;
    --spacing-small: 30px;
    --spacing-medium: 45px;
    --spacing-large: 60px;
    --spacing-xlarge: 100px;
    --spacing-xxlarge: 250px;
}

/* ************************************************************************ */

/* Reset Start */
/* Sizing reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Rem reset */
html{
	font-size: 15px;
}
/* Font reset */
body{
	font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg_c-primary);
    color: var(--txt_c-secondary);
}
/* Reset End */

/* ************************************************************************ */

/* Tags Reset Start */
/* Titles */
h1{
    font-size: 4.5rem;
    margin-bottom: var(--spacing-large);
}

h2{
    font-size: 2rem;
    margin-bottom: var(--spacing-medium);
}

h3{
    font-size: 1.5rem;
    margin-bottom: var(--spacing-small);
}

h4{
    font-size: 1rem;
    margin-bottom: calc(var(--spacing-xsmall) * 2);
}

/* Text */
p{
    font-size: 1rem;
    margin: var(--spacing-xsmall) 0;
}

span{
    font-size: 1rem;
}

li{
    list-style: none;
}
/* Buttons - Links - imgs */
button{
    padding: var(--spacing-xsmall) calc(2 * var(--spacing-xsmall));
    background-color: var(--btn_c-primary);
    text-align: center;
    color: var(--txt_c-primary-negative);
    border: none;
    font-size: 1rem;
    opacity: 1;
    transition: opacity .5s;
}

button:hover{
    opacity: .7;
}

img{
    display: block;
    width: 100%;
    object-fit: contain;
}

a{
    font-size: 1rem;
    display: inline-block;
}

label{
    display: inline-block;
    margin-right: var(--spacing-small);
}
/* Tags Reset End */

/* ************************************************************************ */

/* Utility Start */
.container{
    max-width: 920px;
    margin: auto;
}

.container.big{
    max-width: 1200px;
}

button.big{
    width: var(--spacing-xxlarge);
}

button.border{
    border: 1px solid var(--txt_c-secondary);
    margin: var(--spacing-small) 0;
    transition: box-shadow .5s;
    box-shadow: none;
}

button.border:hover{
    box-shadow: 2px 2px 10px var(--txt_c-tertiary);
}

button.white{
    color: var(--txt_c-tertiary);
    background-color: var(--bg_c-primary);
}

.row{
    display: flex;
    justify-content: space-between;
}

.col-30{
    flex-basis: 30%;
}

.col-40{
    flex-basis: 40%;
}

.col-60{
    flex-basis: 60%;
}

.col-70{
    flex-basis: 70%;
}

.small-hr{
    width: 20%;
    border-bottom: 1px solid var(--border_c-primary);
}

.padding-xxsmll{
    padding: var(--spacing-xxsmall);
}

.padding-xsmall{
    padding: var(--spacing-xsmall);
}

.padding-small{
    padding: var(--spacing-small);
}

.padding-medium{
    padding: var(--spacing-medium);
}

.margin-xxsmall{
    margin: var(--spacing-xxsmall) 0;
}

.margin-xsmall{
    margin: var(--spacing-xsmall) 0;
}

.margin-small{
    margin: var(--spacing-small) 0;
}

.margin-medium{
    margin: var(--spacing-medium) 0;
}

.margin-large{
    margin: var(--spacing-large) 0;
}

.margin-xlarge{
    margin: var(--spacing-xlarge) 0;
}

.margin-xxlarge{
    margin: var(--spacing-xxlarge) 0;
}
/* Utility End */

/* ************************************************************************ */

/* Header */
header{
    background-color: var(--bg_c-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--spacing-large);
    z-index: 10;
}

header nav{
    height: 100%;
}

header a{
    color: var(--txt_c-tertiary);
    text-decoration: none;
    padding: var(--spacing-xsmall);
}

header ul,
header .logo-container{
    display: flex;
    align-items: center;
    margin-right: var(--spacing-small);
}

/* ------------------------------------ */

/* Hover fx */


/* ************************************************************************ */

/* Main */
section{
    padding: var(--spacing-large) 0;
}

section.banner{
    padding: var(--spacing-xlarge) 0;
}

/* ------------------------------------ */

/* jumbo */
.jumbo{
    background-color: var(--bg_c-secondary);
    margin: var(--spacing-large) 0 var(--spacing-xlarge);
    padding: 0;
}

.jumbo p{
    color: var(--txt_c-tertiary);
}

.jumbo .arrow-icon{
    font-size: 3rem;
    margin-top: var(--spacing-xlarge);
}

.drop-down{
    position: relative;
    top: var(--spacing-xlarge);
}

/* ------------------------------------ */

/* Plan selector */
.plan-card{
    border: 1px solid var(--border_c-primary);
}

.plan-card-head{
    border-bottom: 1px solid var(--border_c-primary);
    text-align: center;
}

.plan-card-body{
    padding:  var(--spacing-small)  var(--spacing-xsmall);
}

.plan-card p{
    font-weight: bold;
}

.plan-card span{
    color: var(--txt_c-tertiary);
    margin: var(--spacing-xsmall) 0;
    display: inline-block;
}

.plan-card .plan-info,
.plan-links .buy-now{
    margin: var(--spacing-small) 0;
}

.plan-info li,
.key-features li{
    display: flex;
    column-gap: var(--spacing-xsmall);
    margin: var(--spacing-xsmall) 0;
}

.plan-links{
    margin: var(--spacing-medium) 0;
}

.info-icon.blue{
    color: var(--btn_c-primary);
}

/* ------------------------------------ */

/* business */
.card-container{
    flex-wrap: wrap;
    row-gap: var(--spacing-small);
}

/* our partners */
.col.row{
    flex-wrap: wrap;
}

.col{
    flex-basis: calc(100% / 3);
}

.col-50{
    flex-basis: 50%;
    height: calc((100vw / 3) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-partner img{
    width: 50%;
}

.designit{
    background-color: var(--bg_c-brand-1);
    border: var(--spacing-xsmall) solid var(--bg_c-brand-1-border);
}

.arizona{
    background-color: var(--bg_c-brand-2);
}

.florida{
    background-color: var(--bg_c-brand-3);
}

.topps{
    background-color: var(--bg_c-brand-4);
}

.bicycle{
    background-color: var(--bg_c-brand-5);
}

.hearst{
    background-color: var(--bg_c-brand-6);
}

.lonely{
    background-color: var(--bg_c-brand-7);
}

.channel{
    background-color: var(--bg_c-brand-8);
}

.brand-center{
    background-color: var(--bg_c-brand-center);
}

svg{
    fill: var(--txt_c-secondary);
    width: 50%;
}
/* ------------------------------------ */

.banner.special{
    background-color: var(--bg_c-secondary);
}

.banner.special h2{
    color: var(--txt_c-special);
    margin: 0;
}

/* ------------------------------------ */

/* accordion */
.accordion h4{
    margin: 0;
}

.accordion .container>div{
    border-bottom: 1px solid var(--border_c-primary);  
    padding-left: 0;
    position: relative;
}

.accordion-arrow{
    position: absolute;
    right: var(--spacing-small);
    top: var(--spacing-small);
    bottom: var(--spacing-small);
}

.answer{
    opacity: 0;
    position: relative;
    top: 500px;
    transition: top 1s, opacity 3s;
}

.accordion ul{
    padding: var(--spacing-medium);
    display: none;
}

.accordion li{
    list-style: circle;
    padding: var(--spacing-small) 0;
    border-bottom: 1px solid var(--border_c-primary);
}

.question i{
    transform: rotate(0);
    transition: transform .5s;
}

.question:hover i{
    transform: rotate(180deg); 
}

.question:hover ul{
    display: block;
}

.question:hover .answer{
    top:0;
    opacity: 1;
}

/* ************************************************************************ */

/* Footer */
footer{
    background-color: var(--txt_c-secondary);
    color: var(--txt_c-primary-negative);
    padding: var(--spacing-small) 0 var(--spacing-medium);
}

footer a{
    text-decoration: none;
    color: var(--txt_c-primary-negative);
}

footer li{
    margin: var(--spacing-xsmall);
}

.lenguage{
    color: var(--txt_c-tertiary);
}